#register,
#login {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
body{
  position: relative;
}
.fond-green {
  background-color: rgb(19, 233, 19);
  padding: 20px;
  font-size: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#btn-escanerqr {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  width: 304px;
  height: 258px;
  font-size: 50px;
  margin-right:100px;
  outline:none;
}
#btn-correo {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  width: 304px;
  height: 258px;
  font-size: 50px;
  outline:none;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
#qrcode{
  position: absolute;
  display: inline;
  margin: 0 auto;
}
a{
  position: absolute;
  margin-top: 5rem;
}
#remitente{
  width: 800px;
  height: 108px;
  left: calc(50% - 314px/2 + 0.5px);
  top: calc(50% - 58px/2 + 37.5px);
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  outline:none;
  font-size: 50px;
  text-align: center;
}
#label-correo{
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 41px;
  align-items: center;
  text-align: center;
  color: #000000;
}
#btn-enviar{
  width: 200px;
  height: 100px;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  outline:none;
  font-size: 50px;
}
